<div class="container center">
  <h1>Registration successful</h1>

  <p>Registration was successful, please check your email for confirmation. <br>
  Our admin will confirm your account shortly to grant you privileged access.</p>

</div>