<div class="container center">
  <h1>Login</h1>

  <form class="w300" {{action 'authenticate' on='submit'}}>
    <label for="email">
      {{input id='email' placeholder='Email' value=email}}
    </label>
    <label for="password">
      {{input id='password' placeholder='Password' type='password' value=password}}
    </label>
    <br>
    <button type="submit">Login</button>
  </form>
</div>